<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <%- include('./header.ejs', {user: user}) %>

  <h1 class="signup-title">Sign Up</h1>
  <div class="error-section">
    <% if (errors && errors.length > 0) { %>
      <ul class="error-list">
        <% errors.forEach(function(error) { %>
          <li class="error-message"><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
  </div>
  <div class="success-section">
    <%- success || '' %>
  </div>
  <form class="signup-form" method="post" action="/signup">
    <label for="username" class="input-label">Username:</label>
    <input type="text" id="username" name="username" class="input-field" value="<%= username || '' %>" required>
    <br>
    <label for="password" class="input-label">Password:</label>
    <input type="password" id="password" name="password" class="input-field"  required>
    <br>
    <button type="submit" class="signin-button">Sign Up</button>
  </form>
</body>
</html>
